html { 
  font-family: Georgia, serif; 
  line-height: 1.4em; 
  color: #666; 
  padding: 10px;
}

header {
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

h1 { font-weight: 400; color: #333; }
h2 { font-weight: 400; color: #333; }
h3 { font-weight: 400; color: #333; }
h5 { font-weight: 400; color: #ccc; }

#index {
	min-height: 400px;
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	-webkit-flex-flow: row;
	align-items: stretch;
	-webkit-align-items: stretch;
	justify-content: center;
	-webkit-justify-content: center;
}

#map {
	height: 500px;
	border: 1px solid #ccc;
	flex: 3 3 auto;
	-webkit-flex: 3 3 auto;
	align-content: stretch;
	-webkit-align-content: stretch;
}

#map_memories {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	align-content: stretch;
	-webkit-align-content: stretch;
}

#map_memories > ul {
  list-style: none;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-left: 20px;
}

#memory {
  min-height: 400px;
	display: flex;
	display: -webkit-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	align-items: stretch;
	-webkit-align-items: stretch;
	justify-content: center;
	-webkit-justify-content: center;
}

#memory_map {
	height: 200px;
	border: 1px solid #ccc;
	flex: 3 3 auto;
	-webkit-flex: 3 3 auto;
	align-content: stretch;
	-webkit-align-content: stretch;
}

#memory_details h2 { padding-top: 20px; margin-bottom: 5px; }
#memory_details h3 { color: #ccc; margin-top: 0; }
#memory_details p { font-weight: none; line-height: 1.4em; }

#info { width: 600px; margin: auto; }

#all_memories { width: 600px; }
#all_memories td,th { padding: 5px; }
#all_memories th { text-align: left; }
#all_memories th:nth-child(2), td:nth-child(2) {
  text-align: right;
}
#all_memories tr:nth-child(2n-1) td {
    background-color: #f9f9f9;
}

/* Memory Form */
#address_search_map { width: 100%; height: 200px; padding: 5px; }
#add_memory { width: 600px; margin: auto; }
#add_memory h2 { display:inline; }
#add_memory form { padding-top: 20px; }
#add_memory input { width: 100%; padding: 5px; margin-bottom: 10px; }
#add_memory textarea { width: 100%; height: 200px; padding: 5px; border: 1px solid #ccc; }
#add_memory input[type=submit] { font-size: 1.3em; padding: 5px; }
#add_memory ul { list-style-type: none; padding-left: 0; }