body {
	font-size: 24px;
}

header {
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

#main {
	min-height: 400px;
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	-webkit-flex-flow: row;
	align-items: stretch;
	-webkit-align-items: stretch;
	justify-content: center;
	-webkit-justify-content: center;
}

#map {
	height: 500px;
	border: 1px solid #ccc;
	flex: 2 2 auto;
	-webkit-flex: 2 2 auto;
	align-content: stretch;
	-webkit-align-content: stretch;
}

#map_memories {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	align-content: stretch;
	-webkit-align-content: stretch;
}

#map_memories > ul {
  list-style: none;
  margin-left: 0;
}