html { 
  font-family: Georgia, serif; 
  line-height: 1.4em; 
  color: #666; 
}

header {
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

h1 { font-weight: 400; color: #333; }
h2 { font-weight: 400; color: #333; }
h3 { font-weight: 400; color: #333; }
h5 { font-weight: 400; color: #ccc; }

#index {
	min-height: 400px;
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	-webkit-flex-flow: row;
	align-items: stretch;
	-webkit-align-items: stretch;
	justify-content: center;
	-webkit-justify-content: center;
}

#map {
	height: 500px;
	border: 1px solid #ccc;
	flex: 3 3 auto;
	-webkit-flex: 3 3 auto;
	align-content: stretch;
	-webkit-align-content: stretch;
}

#map_memories {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	align-content: stretch;
	-webkit-align-content: stretch;
}

#map_memories > ul {
  list-style: none;
  margin-left: 0;
}

#memory {
  min-height: 400px;
	display: flex;
	display: -webkit-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	align-items: stretch;
	-webkit-align-items: stretch;
	justify-content: center;
	-webkit-justify-content: center;
}

#memory_map {
	height: 200px;
	border: 1px solid #ccc;
	flex: 3 3 auto;
	-webkit-flex: 3 3 auto;
	align-content: stretch;
	-webkit-align-content: stretch;
}

#memory_details h2 { padding-top: 20px; margin-bottom: 5px; }
#memory_details h3 { color: #ccc; margin-top: 0; }
#memory_details p { font-weight: none; line-height: 1.4em; }

#about { width: 600px; margin: auto; }