{{ template "layout_header.html" }}
<div id="info">
    <h2>About</h2>

    <p>Monument ties memories to the places people have been.<p>

    <p>Search for a location, enter a memory, and submit it for others to read.  There's 
    no need to create an account.  Post under your own name or anonymously.</p>

    <p>Send questions via <a href="mailto:inchingforward+monument@gmail.com?Subject=Monument">email</a> 
    or <a href="http://twitter.com/monumentapp">tweet</a>.</p>
</div>
{{ template "layout_footer.html" }}