{{ template "layout_header.html" }}
<div id="index">
    <div id="map"></div>
    <div id="map_memories">
    	<ul>
    	{{ range . }}
    		<li><a href="/memories/{{ .Slug }}" onmouseover="RecentMemories.showInfoWindowForMemory('{{ .Slug }}');">{{ .Title }}</a></li>
    	{{ end }}
    	</ul>
    </div>
</div>

{{ template "js.html" }}
<script>
    RecentMemories.init();
{{ range . }}
    RecentMemories.addMemory({{ .Latitude }}, {{ .Longitude }}, "{{ .Slug }}", "{{ .Title }}");
{{ end }}
</script>
{{ template "layout_footer.html" }}